<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Claim Game (by BeeGees)</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.2/paper-full.min.js" integrity="sha256-xT9jNx8tzepeeLwMeN985td1KYlkEOZJ/ReF9XMLoMU=" crossorigin="anonymous"></script>

    <style>
      * {
        /*font-family: 'Roboto', sans-serif;*/
      }

      html, body {
          height: 100%;
      }

      /* Scale canvas with resize attribute to full size */
      canvas[resize] {
        width: 100%;
        height: 100%;
      }

      canvas {
        //border: 10px solid black;
      }

      img {
        display: none;
      }

      #message {
        position: fixed;
        width: 500px;
        height: 400px;
        top: 50%;
        left: 50%;
        margin-top: -200px; /* Negative half of height. */
        margin-left: -250px; /* Negative half of width. */
        background-color: white;
        border: 2px solid black;
        border-radius: 4px;
        padding: 1em;
        display: none;
      }

      #message h1 {
        font-weight: bold;
        font-size: 28px;
      }

      #message p {
        font-size: 14px;
      }

      #message em {
        font-weight: bolder;
        font-style: normal;
      }

      .card-img {
        display: none;
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 215px;
        height: 330px;
      }
    </style>
  </head>
  <body>
    <canvas id="game-canvas" resize="true" keepalive="true">
    </canvas>
    <div id="message">
      <h1 id="message-title"></h1>
      <p id="message-content"></p>
    </div>
    <img id="board" src="images/board.jpg">
    <img id="pawn_yellow" src="images/pawn_yellow.png">
    <img id="pawn_green" src="images/pawn_green.png">
    <img id="pawn_red" src="images/pawn_red.png">
    <img id="pawn_blue" src="images/pawn_blue.png">
    <img class="card-img" id="document_boarding_pass" src="images/boarding_pass.jpg">
    <img class="card-img" id="document_id" src="images/id.jpg">
    <img class="card-img" id="document_eticket" src="images/e_ticket.jpg">
    <img class="card-img" id="document_other" src="images/other_document.jpg">
    <img class="card-img" id="document_proof_of_delay" src="images/proof_of_delay.jpg">
    <img class="card-img" id="gustav" src="images/gustav.png">
    <img class="card-img" id="webform" src="images/webform.jpg">
    <img class="card-img" id="other" src="images/other_submission.jpg">
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
